.title h4 {
    color: var(--ion-color-primary);
    margin-top: 0px;
    font-weight: bold;
    margin-bottom: 0px;
    font-size: 18px;
}

.title p {
    margin-top: 0 !important;
    color: #999999;
    font-size: small;
    margin-bottom: 20px;
}

ion-input{
    height: 35px;
    font-size: small;
}

.forget a {
    font-size: small !important;
}

ion-button{
    height: 35px;
    font-size: small;
}

a{
    font-size: small;
}

ion-content {
    --offset-bottom: auto!important;
    --overflow: hidden;
    background-color: #fff;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
    }