.logo {
    width: 55%;
    margin: 30% 0 15% 0;
}

.title h2 {
    margin-top: -25px;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 20px;
}

.title p {
    margin-top: -13px;
    font-size: 15px;
}

.buttons{
    margin-top: 50px;
}

.signup{
    height: 35px;
    margin-bottom: 15px;
}

.login{
    height: 35px;
    color: var(--ion-color-primary);
}